:root {
  --primary-text-color: #434455;
  --navy-blue-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --secondary-brand-color: #404bbf;
  --accent-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white-color: #ffffff;
  --success-color: #31D0AA;
  --helper-text-color: #8E8F99;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.list-link {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-brand-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.logo-header {
  color: var(--navy-blue-color);
}

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-section,
.site-nav-section {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--navy-blue-color);

  font-weight: 500;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.site-nav-link.current {
  color: var(--secondary-brand-color);
}

.site-nav-item {
  position: relative;
}

.current::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-brand-color);
}

.contacts-section {
  margin-left: auto;
}

.contacts-list {
  display: flex;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--navy-blue-color);

  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item+.contacts-item {
  margin-left: 40px;
}

/* Hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--navy-blue-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero-title {
  width: 494px;
  margin: 0 auto 48px auto;

  color: var(--white-color);

  font-size: 56px;
  line-height: 1.07;
}

.order-button {
  min-width: 169px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;

  color: var(--white-color);
  background-color: var(--primary-brand-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--secondary-brand-color);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.10);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  max-width: 408px;
  min-height: 576px;
  padding: 24px;
  padding-top: 72px;

  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #FCFCFC;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: left;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  color: var(--navy-blue-color);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
}

.form {
  color: var(--helper-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: relative;

}

.form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-input:focus-visible {
  border-color: var(--primary-brand-color);
  outline: none;
}

.form-input:hover~.icon-form,
.form-input:focus~.icon-form,
.form-input:focus-visible~.icon-form {
  fill: var(--primary-brand-color);
}

.comment-plase {
  margin-bottom: 16px;
}

.comment {
  padding: 8px 16px;
  resize: none;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.checkbox-plase {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--navy-blue-color);
  border-radius: 2px;
}

.checkbox-label {
  display: inline-block;
  line-height: 1.33;
}

.checkbox:checked+.icon-checkbox {
  background-color: var(--secondary-brand-color);
  border-color: transparent;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy {
  color: var(--primary-brand-color);
  text-decoration: underline;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--accent-color);
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  border-color: transparent;
  background-color: var(--secondary-brand-color);
  fill: var(--white-color);
}


/* Main Content */

.features-section,
.our-work-section,
.portfolio-section,
.customers-section {
  padding-bottom: 120px;
}

.features-section {
  padding-top: 120px;
}

.features-section .item {
  width: 264px;
}

.our-work-section .item {
  width: 360px;
}

.list {
  display: flex;
}

.item+.item {
  margin-left: 24px;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--cloud-color);
  border-radius: 4px;
}

.our-team-section {
  padding: 120px 0 120px 0;

  background-color: var(--cloud-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  color: var(--navy-blue-color);

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.features-title,
.portfolio-title,
.team-title {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--navy-blue-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-descr {
  margin-top: 0;
  margin-bottom: 0;
}

.team-descr {
  margin-top: 0;
  margin-bottom: 8px;
}

.team-content {
  padding: 32px 16px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--secondary-brand-color);
}

.team-title,
.team-descr {
  text-align: center;
}

.our-team-item {
  width: 264px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;

  background-color: var(--white-color);
}

.customers-section {
  padding-top: 130px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-icon {
  fill: currentColor;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--helper-text-color);
  border-radius: 4px;

  color: var(--helper-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--secondary-brand-color);
  color: var(--secondary-brand-color);
}

/* Footer */

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--navy-blue-color);
  color: var(--accent-color);
}

.footer-section .container {
  display: flex;
}

.footer-section .logo {
  display: block;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo-footer {
  color: var(--cloud-color);
}

.footer-descr {
  margin-top: 0;
  margin-bottom: 0;
  width: 264px;
}

.social-media-section {
  margin-left: 120px;
}

.social-media-title {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--white-color);
  font-weight: 500;
}

.social-media-item+.social-media-item {
  margin-left: 16px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--success-color);
}

.subscribe-section {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe {
  display: block;
  width: 264px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--navy-blue-color);
}

.subscribe::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe:focus-visible {
  outline: 1px solid var(--primary-brand-color);
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  margin-left: 24px;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--secondary-brand-color);
}

/* Portfolio */

.portfolio-filter-button {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  color: var(--primary-brand-color);
  background-color: var(--cloud-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  border-color: transparent;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1),
    0 2px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--white-color);
  background-color: var(--secondary-brand-color);
}

.portfolio-section {
  padding-top: 96px;
}

.portfolio-menu {
  justify-content: center;
  margin-bottom: 72px;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-bottom: -48px;
}

.portfolio-item {
  flex-basis: calc((100% / 3) - 24px);
  margin-left: 24px;
  margin-bottom: 48px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-brand-color);
}

.portfolio-overlay>p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 32px;
  color: var(--cloud-color);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
}